@import "/src//assets//Themes/globally-shared.scss";

.checklist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--ion-color-text-primary);
  .inner-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  ion-checkbox {
    margin: 0;
  }
  ion-textarea {
    padding: 0;
    margin: 0;
    --padding-bottom: 0;
    --padding-top: 0;
  }
  .checklist-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
}

.add-btn {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--ion-color-highlight);
}

.close-icon {
  font-size: 24px;
  min-width: 24px;
  color: var(--ion-color-highlight);
  opacity: 0;
  pointer-events: none;
}

.close-icon__active {
  opacity: 1;
  pointer-events: all;
}

.item-flex-center::part(native) {
  padding: 0;
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
