<ng-container *ngFor="let item of checkListItems">
  <ion-item class="ion-item item-flex-center">
    <ion-checkbox
      class="ion-checkbox"
      [checked]="item.checked"
      slot="start"
      (ionChange)="updateItemChecked($event, item.id)"
    ></ion-checkbox>
    <ion-textarea
      class="ion-textarea"
      [value]="item.value"
      [autoGrow]="true"
      (ionChange)="updateItemValue($event, item.id)"
    ></ion-textarea>
    <ion-icon
      *ngIf="showButtons"
      (click)="deleteListItem(item.id)"
      class="close-icon"
      name="close-outline"
    ></ion-icon>
  </ion-item>
</ng-container>
<ion-button fill="clear" (click)="addListItem()" *ngIf="showButtons">
  <div class="add-btn">
    <ion-icon name="add-outline"></ion-icon>
    {{ "Add a line" | translate }}
  </div>
</ion-button>
