<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button
          (click)="navigateBack()"
          fill="clear"
          shape="round"
          size="small"
        >
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="title_input" *ngIf="note">
      <ion-item class="title_input-item">
        <ion-label position="floating">{{ "Title" | translate }}</ion-label>
        <ion-input
          class="ion-input"
          [(ngModel)]="note.title"
          color="primary"
          maxlength="50"
        ></ion-input>
      </ion-item>
    </div>

    <div class="bottom-margin sections">
      <ng-container *ngIf="note?.sections?.length; else emptyNote">
        <ng-container *ngFor="let section of note.sections">
          <div
            [appSelectForDeletion]="sectionDeletionActive"
            (selectSection)="selectSection(section.id)"
            [ngSwitch]="section.type"
            class="section"
          >
            <app-note-text-area
              *ngSwitchCase="SECTION_TYPES.TEXT"
              [textArea]="section.textArea"
              (valueChanges)="updateTextAreaSection($event, section.id)"
            ></app-note-text-area>
            <app-note-checklist
              *ngSwitchCase="SECTION_TYPES.CHECKLIST"
              [showButtons]="true"
              [checkListItems]="section.checkList"
              (valueChanges)="updateChecklistSection($event, section.id)"
            ></app-note-checklist>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #emptyNote></ng-template>
    </div>

    <ng-container *ngIf="sectionDeletionActive">
      <div class="delete-action">
        <ion-button
          [disabled]="!deletionDisable"
          [expand]="'block'"
          [fill]="'outline'"
          [color]="'danger'"
          class="delete-btn"
          (click)="deleteSections()"
        >
          Delete
        </ion-button>
        <ion-button (click)="toggleSectionDeletion()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ng-container>
  </ion-content>

  <app-note-controls
    *ngIf="!sectionDeletionActive"
    (addSection)="addSection($event)"
    (deleteNote)="deleteNote(note.id)"
    (toggleSectionDeletion)="toggleSectionDeletion()"
  ></app-note-controls>
</ion-app>
