@import "./../../../../assets/Themes/globally-shared.scss";
@import "./../../../../styles.scss";

.title_input {
  width: 100%;
  display: flex;
  &-item {
    width: 90%;
    margin: auto;
  }
  .ion-input {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 15px 0px;
    outline: none;
    border: none;
  }
  .ion-valid {
    --highlight-background: var(--ion-color-primary);
  }
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .section {
    padding: 5px;
  }
}

.delete-action {
  position: fixed;
  bottom: 15px;
  display: flex;
  padding: 0 15px;
  width: 100%;
  gap: 8px;
  .delete-btn {
    flex-basis: 100%;
  }
}
