<div [ngSwitch]="actionType">
  <div *ngSwitchCase="ACTION_TYPES.DELETE">
    <ion-fab vertical="bottom" [activated]="true" horizontal="end" slot="fixed">
      <ion-fab-button
        class="fab-control"
        color="danger"
        (click)="switchActionType(ACTION_TYPES.DEFAULT)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="deleteWholeNote()">
          <ion-icon [src]="DELETE_NOTE"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="toggleSectionDelete()">
          <ion-icon [src]="DELETE_SECTION"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <div *ngSwitchCase="ACTION_TYPES.ADD">
    <ion-fab vertical="bottom" [activated]="true" horizontal="end" slot="fixed">
      <ion-fab-button
        class="fab-control"
        color="success"
        (click)="switchActionType(ACTION_TYPES.DEFAULT)"
      >
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="createSection(SECTION_TYPES.TEXT)">
          <ion-icon [src]="TEXT"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="createSection(SECTION_TYPES.CHECKLIST)">
          <ion-icon [src]="CHECKBOX"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <div class="fab" *ngSwitchDefault>
    <ion-fab
      vertical="bottom"
      [activated]="false"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button color="main" class="fab-control">
        <ion-icon [src]="EDIT"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon
            name="add-outline"
            (click)="switchActionType(ACTION_TYPES.ADD)"
          ></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="switchActionType(ACTION_TYPES.DELETE)">
          <ion-icon [src]="DELETE"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</div>
