<ion-card [button]="true" class="widget_card">
  <ion-card-header>
    <ion-card-title class="widget_title">{{ note.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ng-container *ngFor="let section of note.sections">
      <div [ngSwitch]="section.type">
        <app-note-text-area
          *ngSwitchCase="SECTION_TYPES.TEXT"
          [textArea]="section.textArea"
        ></app-note-text-area>
        <app-note-checklist
          *ngSwitchCase="SECTION_TYPES.CHECKLIST"
          [showButtons]="false"
          [checkListItems]="section.checkList"
        ></app-note-checklist>
      </div>
    </ng-container>
  </ion-card-content>
</ion-card>
