<ion-app>
  <ion-header>
    <ion-toolbar class="ion-toolbar">
      <ion-title class="app-title">{{ "mayDo" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-content">
    <div
      class="masonry-wrapper bottom-margin"
      *ngIf="notes && notes.length; else emptyListTpl"
    >
      <div class="box" *ngFor="let note of notes">
        <app-note-widget
          [note]="note"
          [routerLink]="['/notes', note.id]"
        ></app-note-widget>
      </div>
    </div>
  </ion-content>

  <div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createNewNote()" class="fab">
        <img [src]="PLUS" [alt]="'Add icon' | translate" class="img-invert fab-icon">
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-app>

<ng-template #emptyListTpl>
  <div class="empty">
    <img [src]="EMPTY_NOTES" [alt]="'Empty note list' | translate" />
  </div>
</ng-template>
